body {
  background: rgb(45, 45, 45);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Game {
  border: 5px solid orange;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 480px;
  height: 640px;
  cursor: pointer;
  background-image: url(../images/penguins.jpg);
  background-size: 480px 640px;
}

.title {
  align-self: center;
  margin: 0;
  font-size: 3.9rem;
  font-weight: 600;
  color: teal;
}

.Game > button {
  border: 2px solid teal;
  border-radius: 60px;
  position: absolute;
  top: 582px;
  left: 270px;
  font-size: 1rem;
  font-weight: 600;
  color: teal;
  width: 60px;
  height: 30px;
  background: orange;
  cursor: pointer;
  margin-top: 1rem;
  z-index: 999;
}

.Game > button:hover {
  cursor: pointer;
  background: cyan;
  color: white;
}

.home {
  filter: invert(31%) sepia(57%) saturate(1827%) hue-rotate(151deg)
    brightness(94%) contrast(101%);
  width: 25px;
}

.Game > button:hover .home {
  filter: invert(100%);
}

.error {
  composes: Game;
  color: black;
}

.loading {
  background: white;
  width: 120px;
  position: absolute;
  top: 320px;
  left: 180px;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: black;
}

.error h1,
.loading h1 {
  background: rgba(245, 245, 220, 0.4);
  color: black;
  width: fit-content;
  margin: 0;
}
