.Highscore {
  border: 3px solid orange;
  background: teal;
  color: whitesmoke;
  font-size: 0.9rem;
  position: relative;
  width: 300px;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.table li {
  padding: 5px;
}

.table li:last-child {
  padding-bottom: 15px;
}

.Highscore button {
  border: none;
  border-radius: 60px;
  position: absolute;
  top: -110px;
  left: 210px;
  font-size: 1.5rem;
  font-weight: 600;
  color: teal;
  width: 10rem;
  height: 4rem;
  background: orange;
  cursor: pointer;
  margin-top: 1rem;
  z-index: 999;
}

.Highscore button:hover {
  cursor: pointer;
  background: cyan;
  color: white;
}
