.Popup {
  border: 5px solid orange;
  background: teal;
  display: none;
  flex-direction: column;
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: 600;
  width: 300px;
  height: fit-content;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5em;
  margin-top: 1rem;
}

.Popup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5em;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.Popup button {
  margin-top: 0.2rem;
  z-index: 999;
}

.Popup ul {
  list-style-type: none;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}
