body {
  background: rgb(45, 45, 45);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  border: 5px solid orange;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 480px;
  height: 640px;
  cursor: pointer;
  background-image: url(./images/penguins.jpg);
  background-size: 480px 640px;
}

.title {
  margin: 0;
  font-size: 3.9rem;
  font-weight: 600;
  color: teal;
}

.error {
  composes: App;
  color: black;
}

.loading {
  composes: App;
}

h1 {
  background: rgba(245, 245, 220, 0.4);
  color: black;
  width: fit-content;
  margin: 0;
}
