body {
  background: rgb(45, 45, 45);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.home {
  border: 5px solid orange;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 480px;
  height: 640px;
  cursor: pointer;
  background-image: url(./images/penguins.jpg);
  background-size: 480px 640px;
}

.title {
  background: rgba(245, 245, 245, 0.9);
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 3.9rem;
  font-weight: 600;
  color: teal;
}

.homeContainer {
  background: rgba(245, 245, 245, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: teal;
  height: 100%;
  cursor: default;
}

.selection {
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  color: teal;
  background: white;
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: 0 1rem 0 1rem;
}

.error {
  color: orangered;
  background: white;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 0 1rem 0 1rem;
}

.homeContainer button {
  border: none;
  border-radius: 60px;
  font-size: 2rem;
  color: teal;
  width: 12rem;
  height: 4rem;
  background: orange;
  cursor: pointer;
  margin-top: 1rem;
}

.homeContainer button:hover {
  cursor: pointer;
  background: cyan;
  color: white;
}
